@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;

}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100%;
  background: #1f1f1f;
  color: #f6f6f6;
  overflow:  hidden;
}