@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html, body {
  min-height: 100%;
  min-width: 100%;

}

body {
  font-family: 'Lato', sans-serif;
}

.App {
  min-height: 100vh;
  background: #1f1f1f;
  color: #f6f6f6;
  overflow-x:  hidden;
}